<div class="conatiner">
  <div class="row justify-content-between">
    <div class="col-12 col-md-12 col-lg-8">
      <h2 class="text-center mb-1"><i class="fas fa-heart"></i> Here are your memories <i class="fas fa-heart"></i></h2>
      <div class="cards grd">
        <%@geomems.each do |memory|%>
          <%= link_to geomem_path(memory) do %>
            <div class="polaroidnew" id="<%=memory.id%>">
              <%= cl_image_tag memory.photo.key, height: 250, width: 250, crop: :fill %>
              <p class="mt-3"><%=memory.location%></p>
              <p hidden id="js-coord"><%=memory.coordinates%></p>
              <p class="pol-title"><%=memory.title%></p>
            </div>
          <%end%>
        <%end%>
      </div>  
    </div>
    <div class="col-12 col-md-12 col-lg-4">
     <div id="map"
     style="width: 100%; height: 90vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
     </div>
    </div>
  </div>
</div>
