<div class="container mt-3">
  <h2><%=@geomem.title%></h2>
  <p><%=@geomem.description%></p>
  <p><%=@geomem.location%></p>
  <p><%=@geomem.coordinates%></p>
  <%= link_to "delete", geomem_path(@geomem), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-dark"%>
</div>