<div class="conatiner">
  <div class="row justify-content-between">
    <div class="col-12 col-lg-8 pl-3">
      <div class="text-center">
        <h2 class="text-center my-3"><%=@geomem.title%></h2>
        <p><%=@geomem.location%></p>
        <%= cl_image_tag @geomem.photo.key, height: 500, crop: :fill, class: "show-pic" %>
        <div class="card mt-3">
          <p><%=@geomem.description%></p>
          <p hidden id="coord"><%=@geomem.coordinates%></p>
          <div class="options d-flex justify-content-center">
            <%= link_to "", geomem_path(@geomem), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger fas fa-trash-alt"%>
            <%= link_to "", edit_geomem_path, class:"btn btn-primary fas fa-edit" %>
          </div>
        </div>
      </div>
      <a id="show-link" href="#" onclick="return false;">Dont be shy, leave a comment!</a>
      <div class="container comm-box">
        <%= simple_form_for([ @geomem, @comment ]) do |f| %>
          <%= f.input :username%>
          <%= f.input :content, as: :text %>
          <div class="f-flex">
            <%= f.button :submit %>
            <a id="cancel-btn" href="#" onclick="return false;">Cancel</a>
          </div>
        <% end %>
      </div>
      <%if @geomem.comments.any?%>
        <%@geomem.comments.each do |comment|%>
          <div class="comment">
            <div class="comment-avatar"></div>
            <div class ="comment-content">
              <p><%=comment.username%></p>
              <%if (Time.zone.now.day - comment.created_at.day) > 1%>
                <p class="post-date">Posted <%=Time.zone.now.day - comment.created_at.day%> days ago</p>
              <%elsif (Time.zone.now.day - comment.created_at.day) == 1 %>
                <p class="post-date">Posted yesterday</p>
              <%else%>
                <p class="post-date">Posted today</p>
              <%end%>
              <p><%=comment.content%></p>
            </div>
          </div>
        <%end%>
      <% else %>
        <div class="card">
          <p>No comments yet, be the first!</p>
        </div>
      <%end%>
    </div>
    <div class="col-12 col-lg-4">
      <div id="map"
       style="width: 100%; height: 90vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
