<!DOCTYPE html>
<html>
  <head>
    <title>GeoMemories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="Have fun storing your memories and visualize them in the map!">
    <meta property="og:description" content="Have fun storing your memories and visualize them in the map!">
    <meta property="og:title" content="Geo-memories">
    <meta property="og:image" content="https://a-static.besthdwallpaper.com/pixelated-earth-wallpaper-1920x1280-29933_38.jpg">
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Geo-memories">
    <meta itemprop="description" content="Have fun storing your memories and visualize them in the map!">
    <meta itemprop="image" content="http://a-static.besthdwallpaper.com/pixelated-earth-wallpaper-1920x1280-29933_38.jpg">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://geo-memories.herokuapp.com/geomems">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Geo-memories">
    <meta property="og:description" content="Have fun storing your memories and visualize them in the map!">
    <meta property="og:image" content="http://a-static.besthdwallpaper.com/pixelated-earth-wallpaper-1920x1280-29933_38.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Geo-memories">
    <meta name="twitter:description" content="Have fun storing your memories and visualize them in the map!">
    <meta name="twitter:image" content="http://a-static.besthdwallpaper.com/pixelated-earth-wallpaper-1920x1280-29933_38.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
  </head>
  
  <body>
    <div class="flex-wrapper">
      <div class="banner d-flex justify-content-between">
        <div class="logo">
          <%= image_tag 'world.png', height: 30, width: 35, class: "img-logo ml-3" %>
          <%= link_to "Geo-Memories" , geomems_path %>
        </div>
        <%= link_to "Add memory", new_geomem_path, class: "btn add-mem" %>
      </div>
      <%= yield %>
    </div>
    <div class="footer">
      <div class="footer-links">
        <a target="_blank" href="https://github.com/IvanReyesO7"><i class="fab fa-github"></i></a>
        <p style="font-size:10px;color: #eccff1;">IvanReyesO7</p>
      </div>
      <div class="footer-copyright"></div>
    </div>
  </body>
</html>